# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Flask/Migrate/SQLAlchemy
migrations/
instance/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# MacOS
.DS_Store

# Windows
Thumbs.db